*
!.github
!e2e
!html-report
!tests
!.cspell.json
!.prettierignore
!.prettierrc
!Dockerfile
!eslint.config.mjs
!package-lock.json
!package.json
!playwright.config.js
!.cspell-dictionary.txt
!docker-bake.hcl